# =========================
# Sistema Operacional
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# VS Code
# =========================
.vscode/
!.vscode/extensions.json

# =========================

# Arquivos temporários
# =========================
*.log
*.tmp
*.temp
*.swp


# =========================
# Cache
# =========================
.cache/


# Env 
# =========================
.env
.env.local
.env.*.local
